/* You can add global styles to this file, and also import other style files */

@import 'variables';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* login and register mat form field width */
.field {
  width: 100%;
  margin-top: 5px;
}
.snackbar-success {
  background-color: $snackbar-success-color;
}
.snackbar-fail {
  background-color: $snackbar-error-color;
}
