<mat-card class="card card-container">
  <mat-toolbar color="primary">
    <span>Sign Up</span>
  </mat-toolbar>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <p>
      <mat-form-field class="field">
        <mat-label>Username:</mat-label>
        <input id="username" matInput type="text" formControlName="username" />
        <mat-error *ngIf="registerForm.get('username')!.errors">
          Username required
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="field">
        <mat-label>Email:</mat-label>
        <input id="email" matInput type="email" formControlName="email" />
        <mat-error *ngIf="registerForm.get('email')!.errors">
          Email format invalid
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="field">
        <mat-label>Password:</mat-label>
        <input
          id="password"
          matInput
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="registerForm.get('password')!.errors">
          Min length should be 6.
        </mat-error>
      </mat-form-field>
    </p>
    <button
      id="register"
      mat-raised-button
      type="submit"
      class="field"
      [disabled]="!registerForm.valid"
      color="primary"
    >
      Sign Up
    </button>
  </form>
</mat-card>
