<div id="app">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>{{ title }}</h1>
      <span class="menu-spacer"></span>
      <div *ngIf="isLoggedIn">
        <a mat-button [routerLink]="'/home'" routerLinkActive="active">Home</a>
        <a
          data-cy="nav-link-dashboard"
          mat-button
          [routerLink]="'/dashboard'"
          routerLinkActive="active"
        >
          Dashboard
        </a>
        <a
          data-cy="nav-link-transactions"
          mat-button
          [routerLink]="'/transactions'"
          routerLinkActive="active"
        >
          Transactions
        </a>
      </div>
      <span class="navbar-spacer"></span>
      <div>
        <div *ngIf="!isLoggedIn">
          <a
            data-cy="nav-link-register"
            mat-button
            [routerLink]="'/register'"
            routerLinkActive="active"
          >
            Register
          </a>
          <a
            data-cy="nav-link-login"
            mat-button
            [routerLink]="'/login'"
            routerLinkActive="active"
          >
            Login
          </a>
        </div>
        <div *ngIf="isLoggedIn">
          <a mat-button [routerLink]="'/profile'" routerLinkActive="active">
            {{ username }}
          </a>
          <a data-cy="logout" mat-button (click)="logout()">Logout</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
